<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Citlas Prado</mat-card-title>
    <mat-card-subtitle>citlas citlas</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img/avatar.png">
  <mat-card-content>
    <p>Citlas is awesome</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">Like</button>
    <button mat-button color="primary">Delete</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button><mat-icon>publish</mat-icon></button>
  </mat-card-actions>
</mat-card>
